@import './../../node_modules/@angular/material/theming';
@include mat-core;

:host {
  flex-direction: column;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}